body {
    background-image: url('img/fundo.png');
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.title {
    font-size: 50px;
    text-align:center;
    text-shadow: 2px 2px 20px;

}
table {
    width: 80%;
    max-width: 600px;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #0077cc;
    color: #fff;
    padding: 15px;
    font-size: 1.1em;
}

td {
    padding: 10px;
    text-align: center;
}

.borda {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;
    width: 80px;
    outline: 0;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.borda2 {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;
    width: 50px;
    outline: 0;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.borda2:focus {
    box-shadow: inset 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005fa3;
}

@media (max-width: 600px) {
    table {
        width: 95%;
    }

    th,
    td {
        font-size: 0.9em;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
