#cantina{
    position: absolute;
    opacity: 0.3px white;
    width: 1599px;
    height: 765px ;
    filter: blur(8px);
}

.container{
    max-width: 400px;
    margin: 50px auto;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 10px;
    position: absolute;
    margin-left: 200px;
    top:30px;
}

.container2{
    max-width: 400px;
    margin: 50px auto;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 10px;
    position: absolute;
    margin-left: 600px;
    top:30px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, textarea{
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

input[type="submit"]{
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    width: 95%;
    color: white;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(0, 0, 164);
}

input[type="submit"]:active{
    background-color: rgb(255, 255, 255);
    color: black;
}

#num{
    width: 25%;
    
}