/*Crie um parágrafo com texto em negrito.*/

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Texto em Negrito</title>
  <style>
    p {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <p>Este é um texto em negrito.</p>
</body>
</html>

/*Crie um cabeçalho <h1> com texto em fonte normal.*/
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Texto em Fonte Normal</title>
  <style>
    h1 {
      font-weight: normal;
    }
  </style>
</head>
<body>
  <h1>Este é um texto em fonte normal.</h1>
</body>
</html>


/*Crie uma lista com itens de diferentes pesos de fonte.*/
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lista com Pesos de Fonte</title>
  <style>
    li:nth-child(1) {
      font-weight: normal;
    }
    li:nth-child(2) {
      font-weight: bold;
    }
    li:nth-child(3) {
      font-weight: 900;
    }
  </style>
</head>
<body>
  <ul>
    <li>Texto em fonte normal.</li>
    <li>Texto em negrito.</li>
    <li>Texto em fonte extra negrito.</li>
  </ul>
</body>
</html>

