body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

.clock {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#clockAnalogico {
  display: none;
}

.hand {
  background-color: #333;
  position: absolute;
}

.hour-hand {
  width: 8px;
  height: 80px;
  transform-origin: bottom center;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -4px;
}

.minute-hand {
  width: 4px;
  height: 100px;
  transform-origin: bottom center;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -2px;
}

.second-hand {
  width: 2px;
  height: 110px;
  background-color: red;
  transform-origin: bottom center;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -1px;
}
