.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.tile{
    height:100px;
    width:100px;
    float:left;
    margin:0 5px 0 0;
    padding:2px;
}

.tileLargo{
    width:210px;
}

.amarelo{
    background:#DAA520;
}

.vermelho{
    background:#CD0000;
}

.azul{
    background:#4682B4;
}

.verde{
    background-color: #2E8B57;
}