.dvm-button {
    color: #FFF;
    background-color: green;
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}