.titulo-principal {
  background-color: darkblue;
  color:yellow;
  max-width:700px;
  margin:0 auto;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 15px 10px lightblue;
  font-size: 35px;
  font-family: cursive;
  font-style: oblique;
  }
/* The animation code */
@keyframes example {
  0%   {background-color:darkblue; left:0px; top:0px;}
  25%  {background-color:coral; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 700px;
  height: 700px;
  position: relative;
  background-color: lightblue;
  animation-name: example;
  animation-duration: 10s;
  animation-delay: -2s;
}