body{
    margin: 0px;
    height: 500vh;
    background-color: #232f3e;
}
#cabeçalho{
    position: relative;
}

#fundo{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    position: absolute;
}

header{
  padding: 60px 2%;
  position: fixed;
  transition: .5s;
}



header li, a{
    color: #212121;
  text-decoration: none;
  list-style-type: none;
  font-size: 123%;
  display: inline-block;
  margin: 0px 30px;
}

header.rolagem{
    background-color: #c50613;
    padding: 20px 2%;
}

header.rolagem li, a{
    color: #212121;
}

#tudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #bot{
    padding: 10px;
  }

  #wtz{
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 91%;
    top: 88%;
  }

  